<div id="sub-header" class="interior">
	<div id="sub-header-inner">
	    <h2>Albums</h2>
	</div>
</div>

<div id="content" class="clearfix">
	<div id="content-inner">
		<% for album in @albums %>
		<div class="row">
		  <div class="title">
			<%= render :partial => "photos/thumb", :locals => {:photo => album.photos.first } unless album.photos.empty? %>
			<p><%= link_to album.title, album %></p>
		  </div>
		  <div class="image">
			<%= render :partial => "photos/thumb", :collection => album.photos.find(:all, :limit => 5, :offset => 1), :as => :photo %>
		  </div>
		</div>
		<% end %>
	</div>
</div>

<%= content_for :action_links do %>
	<%= link_to "Show just the photos tagged with #{params[:q]}", photos_path(:q => params[:q]) if params[:q] %>
	<%= " |&nbsp;" if params[:q] %>
	<%= link_to "New album", new_album_path() %>
<% end %>