<div id="sub-header" class="interior">
	<div id="sub-header-inner">
		<h2>Edit Photo Bucket</h2>
	</div>
</div>

<div id="content" class="clearfix">
	<div id="content-inner">  
		<%= form_for @bucket do |f| %>
		  <% if @bucket.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@bucket.errors.count, "error") %> prohibited this bucket from being saved:</h2>
		
		      <ul>
		      <% @bucket.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		  
		  <%= render :partial => "form", :object => f %>
		  <%= f.submit "Update" %>
		<% end %>
	</div>
</div>

<%= content_for :action_links do %>
<%= link_to("Delete this photo bucket", { :action => "destroy", :id => @bucket },
  :confirm => "Are you sure you want to delete this photo bucket?",
  :method => :delete) %>
<% end %>